* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-color: rgb(255, 255, 255);
}
.navbar {
    background: linear-gradient(to left,gray, rgb(29, 28, 28), gray);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.img {
    width: 100%;
}
.link-any {
    color:white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.link-any:hover {
    color: aqua;
    transition: 0.3s ease-in-out;
}
.nav-to-any {
    margin-left: 155px;
}
.nav-to-any1 {
    margin-left: 45px;
}
.nav-to-any2 {
    margin-left: 45px;
}
.nav-to-any3 {
    margin-left: 45px;
}
.nav-to-any4 {
    margin-left: 45px;
}
.nav-to-any5 {
    margin-left: 45px;
}
.nav-to-any6 {
    margin-left: 45px;
}
.nav-to-any7 {
    margin-left: 45px;
    margin-right: 155px;
}
.text-of-klava {
    display: flex;
    font-size: 19px;
    color:white;
    text-decoration: none;
    justify-content: center;
    transform: translateY(-100000%);
    line-height: 1%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.text-of-headphones {
    display: flex;
    font-size: 19px;
    color:white;
    text-decoration: none;
    justify-content: center;
    transform: translateY(-100000%);
    line-height: 1%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.text {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.text:hover {
    transition: 0.3s ease-in-out;
    color: aqua;
}
.text-of-vr {
    color: black;
    line-height: 1%;
    font-size: 19px;
    transform: translateY(-53000%);
    transition: 0.3s ease-in;
}
.text-of-vr:hover {
    color: blue;
}
.glass {
    transform: translateY(-36000%);
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s ease-in;
}
.name {
    font-size: 30px;
    transform: translateY(-66000%);
    font-weight: 600;
}